.github
.nyc_output
.dockerignore
.git*
Dockerfile
node_modules

config.local.json
node_modules/
dist/
coverage/
.nyc_output/
.idea/
.circleci/
npm-debug.log
newrelic_agent.log

test/screenshots/test
test/screenshots/reference
test/screenshots/compare.json

public/style/build/*
public/js/build/*

local.log
test.log
.npmrc
.DS_Store

logfile

selenium-debug.log
tests_output/

README.md
Tiltfile
tilt
scripts
tap
snyk-monitor
snyk-operator
*-deployment.yaml
*-permissions.yaml

snyk-monitor-operator-source.yaml
operator-sdk
