apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "snyk-monitor.name" . }}
  labels:
    app.kubernetes.io/name: {{ include "snyk-monitor.name" . }}
    helm.sh/chart: {{ include "snyk-monitor.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "snyk-monitor.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "snyk-monitor.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ include "snyk-monitor.name" . }}
      restartPolicy: Always
      containers:
        - name: {{ include "snyk-monitor.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - name: docker-socket-mount
            mountPath: /var/run/docker.sock
          - name: docker-config
            readOnly: true
            mountPath: "/root/.docker"
          env:
          - name: SNYK_INTEGRATION_ID
            valueFrom:
              secretKeyRef:
                name: {{ .Values.monitorSecrets }}
                key: integrationId
      volumes:
        - name: docker-socket-mount
          hostPath:
            path: {{ .Values.dockerSocketHostPath }}
        - name: docker-config
          secret:
            secretName: {{ .Values.monitorSecrets }}
            items:
              - key: dockercfg.json
                path: config.json
